.contenedor{
    display: flex;
    justify-content: space-around;
}

.item{
    width: 50%;
    height: 200px;
    background-color: #f4f4f4;

}

.grip-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

}

#photo{
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 2px solid red  ;
}

#seccion1{
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 1px solid red  ;
}

#seccion2{
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 1px solid red  ;
}

#seccion3{
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 1px solid red  ;
}

#seccion4{
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 1px solid red  ;
}

#seccion5{
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 1px solid red  ;
}

#seccion6{
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 1px solid red  ;
}

#enlaces{
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 1px solid red  ;
}

@media (max-width:600px) {
    .contenedor {
        flex-direction: column;
    }
}

p{
    color: rgb(0, 0, 0);
}
table {
    width: 100%;
    border-collapse: collapse;

    
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    color: #ddd;
}

th {
    background-color: #f4f4f4;
    color: black;
    text-align: center;
}